.login-form-button {
    height: 30px;
}
.ant-btn-link {
    margin-right: 0.5vw;
    color: #ffffff;
    font-size: 1.8vw;
    font-family: "Times New Roman", Times, serif;
}

.ant-dropdown-menu-item {
    padding: 0.8vw 2vw;
}

.ant-dropdown-menu {
    margin-top: 0.5vw;
}
.anticon {
    vertical-align: 0.125em;
}

