.ant-btn-link {
    color: #ffffff;
    font-size: 2.2vw;
    font-family: "Times New Roman", Times, serif;
}
.ant-dropdown-button {
    margin: 0.5vw;
}

.ant-dropdown-menu-item {
    padding: 1vw 2vw;
}

.ant-dropdown-menu {
    margin-top: 3vw;
}
