.Map {
    position: relative;
    padding-top: 100px;
}

    .color-buttons {
        display: flex;
        justify-content: center;
    }
.map-button {
    display: flex;
    justify-content: center
}
