.Map {
    position: relative;
    padding-top: 100px;
}

.color-buttons {
    display: flex;
    justify-content: center;
}

.map-button {
    display: flex;
    justify-content: center
}

.loading {
    text-align: center;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}